<a href="https://colab.research.google.com/github/r-hugoalves/Python_Analise_de_Dados/blob/Fluxo_Condicional_Repeticao/Fluxo_Condicional_e_Repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fluxo Condicional e Repetição

## Tópicos

1. Estrutura condicional if / else / elif
2. Estrutura condicional try / except / finally
3. Estrutura condicional for / in
4. Exercicios

## **1.Estrutura condicional if / else / elif**

Estrutura de alteração do fluxo lógico do código. Ou seja, ela avalia o valor booleano ou uma comparação lógica. 

**Obs.: a identação do código é muito importante!**

```
if <booleano / comparação lógica> == True: 
  <execute esse código>
else:
  <senão, execute esse código>
```

In [ ]:
if False:
  print('Verdadeiro')
else: 
  print('Falso')

In [ ]:
# Código de segurança de um cartão de crédito

codigo_de_seguranca = '215'
codigo_de_seguranca_cadastro = '010'

# Podemos trabalhar de duas formas:

pode_efetuar_pagamento = (codigo_de_seguranca == codigo_de_seguranca_cadastro)

if pode_efetuar_pagamento:
  print('Pagamento efetuado')
else:
  print('ERRO: Código de segurança inválido')

# OU:

if codigo_de_seguranca == codigo_de_seguranca_cadastro:
   print('Pagamento efetuado')
else:
  print('ERRO: Código de segurança inválido')

In [ ]:
# Código e senha de segurança de um cartão de crédito

codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadastro = '7783'

# Podemos trabalhar de duas formas: 

if ( codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
 print("Pagamento efetuado")
else:
 print("Erro: Pagamento não efetuado")

# OU: 

if ( codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadastro):
 print("Erro: Pagamento não efetuado")
else:
 print("Pagamento efetuado")

In [ ]:
# Podemos avaliar também, múltiplas condições com elif

codigo_de_seguranca = '8512'
codigo_de_seguranca_cadastro = '852'

senha = '783'
senha_cadastro = '7783'

if ( codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
 print("Pagamento efetuado")
elif ( codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
 print("Erro: Código de segurança inválido")
elif ( codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha != senha_cadastro):
 print("Erro: Senha inválida inválida")
else:
 print("Erro: Código de segurança e senha inválidos")

## **2.Estrutura condicional try / except / finally**

Exceções são erros que podem acontecer durante a execução do nosso código.

###**2.1 Exemplos de erros**

In [ ]:
# Erro de operações numéricas impossíveis

preco = 132.85
pessoas = 0

valor_por_pessoa = preco/pessoas
  #ZeroDivisionError: float division by zero

In [ ]:
# Erro por combinação de tipos diferentes

nome = 'Hugo Alves'
idade = 19

apresentacao = 'Oi, meu nome é' + nome + 'e eu tenho' + idade + 'anos'
  #TypeError: can only concatenate str (not "int") to str
  # O mesmo serve para qualquer outro tipo diferente de string

In [ ]:
# Erro de indexação

anos = [2019, 2020, 2021, 2022]
ano_atual = anos[4]
  # IndexError: list index out of range

In [ ]:
# Erro de indexação

cursos = {
    'python': {
        'nome': 'Pyhton para Análise de Dados', 'duracao': 2.5
    }, 
    'sql': {
        'nome': 'SQL para Análise de Dados', 'duracao': 2
    }
}

curso_atual = cursos['analista']
  # KeyError: 'analista'

### **2.2 try/except**

In [ ]:
# Nesse exemplo, sabemos exatamente o tipo de erro que vai acontecer, por isso que já informamos o nome no except
preco = 132.85
pessoas = 0

try:
  valor_por_pessoa = preco/pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('Espera-se um número de pessoas maior que 0 (zero)')

In [ ]:
# Nesse caso, não sabemos o tipo de erro que pode acontecer, por isso usamos um exemplo genérico no except

anos = [2019, 2020, 2021, 2022]

try: 
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 (zero) e ' + str(len(anos) - 1))

In [ ]:
# Podemos explorar um pouco mais o erro do Exception

anos = [2019, 2020, 2021, 2022]

try: 
  ano_atual = anos[4]
  print(ano_atual)
except Exception as exc:
  print('Descrição da exceção: ' + str(exc))
  print ('Tipo da exceção: ' + str(type(exc)))
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 (zero) e ' + str(len(anos) - 1))

Uma boa prática na captura de erros, é capturar o erro específico, e não de forma genérica. Então, continuando o nosso último exemplo, já identificamos o erro, por isso podemos tratá-lo direto, e deixar o erro genérico para algum outro erro que não identificamos nos primeiros testes, conforme o código abaixo:

In [ ]:
anos = [2019, 2020, 2021, 2022]

try: 
  ano_atual = anos[9]
  print(ano_atual)
except IndexError: 
    print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 (zero) e ' + str(len(anos) - 1))
except Exception as exc:
  print(exc)
  print('Erro genérico')

### **2.2 try/except/finally**

In [ ]:
nome = 'Hugo Alves'
idade = 19

try:
  apresentacao = 'Oi, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print('Segunda chance')
  apresentacao = 'Oi, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)

## **3.Estrutura condicional for / in**

### **3.1 for / in**

Estrutura que permite a execução repetida de um bloco de código repetidas vezes

**Estrutura:** 
```
for variável_temporaria in coleção:
  <execute esse código>
```

### **3.2 for / in / range**

In [ ]:
for valor in range(8):
  print(valor)

In [ ]:
soma = 0 

for valor in range(0, 10):
  soma += valor

print(soma)

In [ ]:
# Nesse caso o range vai andar de duas em duas casas, o passo
for multiplos_dois in range(2,10,2):
  print(multiplos_dois)

### **3.3 for / in / list**

In [ ]:
frutas = ['maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
 print(fruta)

In [ ]:
frase = 'Fala pessoal, meu nome é André Perez.'

for caracter in frase:
 if (caracter == 'A') | (caracter == 'z'):
  print(f"A letra '{caracter}' está presente na frase." )

### **3.4 for / in / dict**

In [42]:
credito = {'123': 750, '456': 812, '789': 980}

In [ ]:
for chave, valor in credito.items():
 print( f'Para o documento {chave}, ' + 'o valor do escore de crédito é {valor}.' )
 print('\n')

In [ ]:
for chave in credito.keys():
 print(chave)
 print(credito[chave])
 print( f'Para o documento {chave}, ' + 'o valor do escore de crédito é {credito[chave]}.' )
 print('\n')

In [ ]:
for valor in credito.values():
 print(valor)
 print( f'O valor do escore de crédito é ' + '{valor}, mas não temos mais as chaves :(' )
 print('\n')

### **3.5 break / continue**

In [ ]:
for i in range(0, 10*10*10):
 print(i)
 if i == 10:
    break

In [ ]:
# Exemplo com um único número

numero = 3

if numero % 2 == 0:
 print(f'O numero {numero} é par')
else:
 print(f'O numero {numero} é impar')

In [ ]:
# Exemplo com vários números

numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:
 if numero % 2 == 0:
  print(f'O numero {numero} é par')
  break
else:
  print(f'O numero {numero} é impar')

In [ ]:
# Usando o continue

numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:
  if numero % 2 == 0:
    print(f'O numero {numero} é par')
    break
  else:
    continue
    print(f'O numero {numero} é impar')

## **4.Exercícios**

Os exercícios foram separados em um notebook específico, que pode ser acessado [aqui](https://colab.research.google.com/drive/1ngEIlgpBMmIPxOqIofJmMj9BggcXfC7h?usp=sharing)